@import "../Common/GlobalStyling.scss";

.personCardRow {
  overflow-y: scroll; /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;
  padding: 1em;
}

.GuestListContainer {
  display: flex;
  flex-direction: column;

  @extend %on-load-animation;
  animation: onLoad 1.4s ease-in-out;

  h6 {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 4px;
    padding: 1em 1em 0.2em;

    margin-top: 0px;
  }
}
