@import "../Common/GlobalStyling.scss";

.personAvatarImage {
  height: 28px;
  width: 28px;
  margin-right: 0.5em;

  border-radius: 100px;
  border-style: solid;
  border-width: 2px;
  border-color: $grey;
}

.personCardDiv {
  background-color: white;
  border-radius: 6px;
  padding: 1em;
  margin-bottom: 0.7em;
  display: flex;
  flex-direction: row;
  justify-content: l;
  align-items: center;

  flex-grow: 1;
  overflow: hidden;

  p {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
    line-height: 112%;
  }
}
