@import "../../Common/GlobalStyling.scss";

.introHeader {
  color: white;
  text-align: center;
  margin: auto;
  margin-bottom: 60px;
  max-width: 280px;

  animation: moveDown 1s ease-in-out;

  @keyframes moveDown {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  p {
    margin: 0px;
    margin-bottom: 16px;
    font-size: 22px;
    font-weight: 600;
    line-height: 124%;
  }

  button {
    color: white;

    background-color: rgba(255, 255, 255, 0.2);
    padding: 11px 26px 12px 26px;
    border: none;

    border-radius: 64px;

    font-weight: 700;
    font-size: 18px;
  }
}
