@import "../Common/GlobalStyling.scss";
@import "../Common/Buttons.scss";

.optInHeaderDiv {
  padding: 0px 16px 16px 16px;
  text-align: center;
  color: white;
  max-width: 264px;
  margin: auto;
  margin-bottom: 24px;

  h1 {
    font-size: 62px;
    text-align: center;
    margin: 0px;
    margin-top: 0px;
    margin-bottom: 4px;
  }
  h2 {
    font-weight: 700;
    font-size: 22px;
    margin: 0px;
    margin-bottom: 12px;
  }
  p {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    margin: 0px;
    margin-bottom: 24px;
    line-height: 134%;
  }
  button {
    @extend %standard-button;
    position: relative;
    color: black;
    background-color: white;
    height: 58px;
    font-size: 19px;
  }
}

/*
.ticketIcon {
  position: absolute;
  left: 27%;
  background-repeat: no-repeat;
  background-image: url("../Images/TicketIcon.svg");
  height: 30px;
  width: 30px;
  top: 30%;
  bottom: 30%;
}
*/
