@import "../Common/GlobalStyling.scss";

.inputFile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.addPhotoDiv {
  color: black;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  margin: auto;

  align-items: center;
  justify-content: center;

  img {
    height: 74px;
    width: 74px;
    overflow: hidden;
    background-image: url("../../Images/AddPhotoIcon.svg");
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 60px;
    background-color: rgba(0, 0, 0, 0.04);
    border: 4px solid rgba(0, 0, 0, 0.04);
  }

  p {
    margin: 0px;
    margin-top: 12px;
    opacity: 0.9;
    font-size: 18px;
    font-weight: 600;
  }
}

.addPhoto {
  margin: auto;
  margin-top: 32px;
  margin-bottom: 32px;
}
