@import "../Common/GlobalStyling.scss";

.formNav {
  width: stretch;
  text-align: center;
  color: black;
  display: flex;
  align-items: center;
  padding: 24px 0 0px 0;

  button {
    border: none;
    background: none;
    font-size: 20px;
    font-weight: 500;
    color: white;
  }

  h4 {
    margin: auto;
    font-weight: 600;
    font-size: 18px;
  }
}
